%h1 All Users

%table#users
  %thead
    %tr
      %th{:class => params[:sort] == 'name' ? 'hilite' : ''}
        = link_to 'Name', {controller: 'users', action: 'index',
        sort_users: 'name'}
      %th Email
      %th Created
      %th Updated
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.name, user_path(user)
          %td= user.email
          %td= user.created_at
          %td= user.updated_at
%br
= link_to 'Back to overview', overview_index_path
