%h1
  = gravatar_for @user
  = "#{@user.name}'s Information"

%br
%ul
  %li
    = "Name: #{@user.name}"
  %li
    = "Email: #{@user.email}"
  %li
    = "Password_digest: #{@user.password_digest}"
  %li
    = "Profile created at #{@user.created_at}."
  %li
    = "Profile updated at #{@user.updated_at}."

= button_to "Edit Profile", edit_user_path(@user), :method => :get
= link_to "Back to user list", users_path

= button_to "Delete User", user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}

