%h2 Edit Tree
= form_tag tree_path, :method => :put do

  = label :tree, :plot, 'Plot'
  = text_field :tree, :plot

  = label :tree, :tag, 'Tag'
  = text_field :tree, :tag

  = label :tree, :species, 'Species'
  = select :tree, :species, ['ABBA', 'PIRU', 'BECO']

  = label :tree, :dbh, 'DBH'
  = text_field :tree, :dbh

  = label :tree, :ht, 'Height'
  = text_field :tree, :ht
  
  = submit_tag 'Save Changes'

%br/
= button_to 'Cancel', tree_path(@tree), :method => :get
