%h2 Details about tree #{@tree.tag} from plot #{@tree.plot}
= render 'trees/details'
    
= link_to 'Edit', edit_tree_path(@tree)
|
= link_to 'Delete', tree_path(@tree), :method => :delete, data: {:confirm => 'Are you sure?'}
|
= link_to 'Back to tree list', trees_path

%h4 Comments:
= render @tree.comments

%h4 Add a comment:
= render "comments/form"
%br
