%h2 Details about tree #{@tree.tree_id}

%ul#details
  %li
    Species:
    = @tree.species
  %li
    DBH:
    = number_with_precision(@tree.dbh, :precision => 2)
  %li
    Height:
    = number_with_precision(@tree.ht, :precision => 2)

%h3 Notes:
%p#notes= @tree.notes

= link_to 'Edit info', edit_tree_path(@tree)
= button_to 'Delete', tree_path(@tree), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to tree list', trees_path
