%h1 Welcome to Moosilauke Data Entry!

= form_for :users, url: signin_path, :method => :get do
  = label :user, :name, 'Name'
  = text_field :user, :name

  = label :user, :password, 'Password'
  = password_field :user, :password

  = submit_tag 'Sign In'

%br
= link_to 'Sign Up', signup_path

  

%script{:type => "text/javascript", :src => "/assets/map/gmap.js"}
%div#map-container
  %div#map-canvas
  
-# <!DOCTYPE html>
-# <html>
-#   <head>
-#     <h1> Mt. Moosilauke!</h1>
-#     <style type="text/css">
-#       html, body, #map-canvas { height: 90%; margin: 0; padding: 0;}
-#     </style>
-#     <script type="text/javascript"
-#       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPa-Ik167RhH13hBoyUB9OMIN9DDdsjPs">
-#     </script>
-#     <script type="text/javascript">
-#       function initialize() {
-#         var mapOptions = {
-#           center: { lat: 44.022746, lng: -71.830950},
-#           zoom: 13,
-#           mapTypeId: google.maps.MapTypeId.TERRAIN
-#         };
-#         var map = new google.maps.Map(document.getElementById('map-canvas'),
-#             mapOptions);
-#       }
-#       google.maps.event.addDomListener(window, 'load', initialize);
-#     </script>
-#   </head>
-#   <body>
-# <div id="map-canvas"></div>
-#   </body>
-# </html>

